.header {
  height: 6em;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  border-bottom:1px solid #2978b5 ;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
}

@media (max-width: 600px) {
  .header {
    height: 6em;
    position: relative;
  }
}

img {
  width: 30px;
  margin-right: 4px;
}
